@media screen and (max-width: 1579px) {
    :root {
        --fz48: 43px;
        --fz24: 22px;
    }
    header nav > ul {
        gap: 20px;
    }
    header .header {
        column-gap: 20px;
    }
    header nav li {
        font-size: 14px;
    }
    header .header .phone {
        font-size: 16px;
    }
    .consultationSection .info-block .item.textInfo form input,
    .consultationSection .info-block .item.textInfo form button {
        width: 100%;
    }
    .consultationSection .info-block {
        align-items: flex-start;
    }
    .consultationSection .consultationBlock {
        background-position: top right;
    }
    .consultationSection .info-block .item.textInfo {
        width: 80%;
    }
    .moreQuestInfoSection .info-block .item.video-photo .block.gallery {
        grid-template-columns: repeat(3, 1fr);
    }
    .moreQuestInfoSection .info-block .item.video-photo .block.gallery .img {
        height: 120px;
    }
    .moreQuestInfoSection .info-block .item.video-photo .block.vk-video {
        height: 440px;
    }

}
@media screen and (max-width: 1279px) {
    :root {
        --fz48: 40px;
        --fz64: 58px;
    }
    .textErrorSection .textErrorBlock .item .textMain {
        font-size: 70px;
    }
    .textErrorSection .textErrorBlock .item {
        width: 100%;
    }
    .priceServiceSection.birthdayCorporatePage .item.stocks .info-body .list {
        grid-template-columns: 1fr;
        row-gap: 0;
    }
    .priceServiceSection.birthdayCorporatePage .item.stocks .info-body .list .item_l:not(:last-of-type) {
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .priceServiceSection.birthdayCorporatePage .item.stocks .info-body .list .item_l:not(:first-of-type) {
        padding-top: 20px;
    }
    .priceServiceSection.birthdayCorporatePage .item.stocks .info-body .list .item_l:not(:last-of-type)::before {
        content: none;
    }
    header .btn-header {
        display: none;
    }
    .advantageousOfferBlock .item .img::before {
        width: 286px;
        height: 278px;
    }
    .advantageousOfferBlock .item .block .wholesale, .congrSantaClausBlock .item .wholesale, .ageLimitBlock .item .wholesale {
        column-gap: 10px;
    }
    .advantageousOfferBlock .item .block .desc-1 {
        width: 100%;
    }
    .consultationSection .consultationBlock {
        background-position: top left;
        padding: 40px;
    }
    .lineEffects-2::before,
    .lineEffects-3::before {
        content: '';
        background-image: url('../img/details/line-2.svg');
        width: 23px;
        min-height: 100vh;
        height: 100%;
    }
    .moreQuestInfoSection .info-block {
        grid-template-columns: repeat(auto-fill, minmax(400px, auto));
    }
    .moreQuestInfoSection .info-block .item.video-photo .block.gallery {
        column-gap: 17px;
        row-gap: 10px;
    }
    .descriptionSection .info-block {
        column-gap: 40px;
    }
}
@media screen and (max-width: 1099px) {
    :root {
        --fz64: 55px;
        --fz48: 36px;
        --fz36: 32px;
        --fz32: 30px;
        --fz24: 20px;
        --fz20: 19px;
    }
    .areaBlock .info-block {
        grid-auto-rows: 140px;
    }
    header nav li:hover > .submenu {
        display: none!important;
    }
    .detailedInformationSection .info-block {
        column-gap: 40px;
    }
    .moreQuestInfoSection .info-block .item.video-photo .block.gallery .img {
        height: 160px;
    }
    .moreQuestInfoSection .info-block .item.information > .desc .text-4,
    .moreQuestInfoSection .info-block .item.information .price .price-block .item_p .count {
        color: var(--teal);
    }
    .bannSection.new-year-bg .nameCompany {
        width: 100%;
    }
    .consultationSection .info-block .item.textInfo {
        width: 100%;
    }
    header {
        background-color: rgba(0, 0, 0, 0.5);
    }
    header nav ul li a.openSub i {
        display: none;
    }
    .burgerBlock {
        display: flex;
    }
    header .header .phone {
        display: none;
    }
    header nav > ul > li:nth-child(n+3) {
        display: none;
    }
    header .header {
        padding: 15px 0;
    }
    .descSection .info-block .item.noImage {
        padding-left: 50px;
    }
    .advantageousOfferBlock .item .img img {
        transform: scale(1);
        width: 100%;
        max-height: 500px;
        object-fit: contain;
    }
    .advantageousOfferBlock .info-block {
        align-items: flex-end;
    }
    .questSection .info-block .item.textInfo .lookAt .block {
        gap: 10px;
    }
    .btn {
        padding: 14px 30px;
    }
    .whyWeSection .whyWeBlock-2 .info-block, .specialSolutionsSection .forWhatBlock .info-block {
        grid-template-columns: repeat(auto-fit, minmax(170px, auto));
    }
    .consultationSection .info-block {
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 980px) {
    .whyWeSection .whyWeBlockMain-1::before {
        left: -120px;
    }
    .whyWeSection .whyWeBlockMain-1::after {
        right: -120px;
    }
    .consultationSection .info-block {
        gap: 50px;
    }
    .bannSection .info-block .item .img img {
        transform: translateX(0)!important;
        width: 100%!important;
    }
    .bannSection .info-block-promo::before {
        width: 100%;
        left: 0;
    }
    .bannSection .info-block-promo {
        padding: 35px 40px;
    }
    .lineEffects-1, .lineEffects-2, .lineEffects-3 {
        display: none;
    }
    .newYearProgramBlock::before {
        content: none;
    }
}
@media screen and (max-width: 849px) {
    :root {
        --fz64: 50px;
        --fz48: 32px;
        --fz36: 30px;
        --fz32: 28px;
        --fz24: 18px;
        --fz20: 17px;
    }
    .textErrorSection .textErrorBlock .item {
        padding: 80px 25px;
    }
    .areaBlock .info-block {
        gap: 15px;
    }
    .ageLimitBlock .item .img img {
        opacity: .4;
    }
    .descriptionSection.lasertagSectionClass .info-block {
        column-gap: 40px;
        row-gap: 20px;
    }
    .newFormatSection.scriptedActionGames .title-age .desc {
        width: 100%;
    }
    .priceServiceSection .info-block,
    .showProgramsSection .info-block {
        grid-template-columns: 1fr;
    }
    .lasertagSection,
    .photoGallerySection {
        margin-top: 60px;
    }
    .bannSection.usuallyPB .bannBlock {
        padding-bottom: 60px;
    }
    .newYearProgramSection {
        padding-bottom: 60px!important;
    }
    .congrSantaClausSection {
        padding-top: 60px!important;
    }
    .bannSection .info-block .item.infoBann {
        padding-top: 0;
    }
    .descSection .info-block, .advantageousOfferBlock .info-block, .newYearProgramBlock .info-block, .congrSantaClausBlock .info-block, .ageLimitBlock .info-block {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .newYearProgramBlock .item .img img, .congrSantaClausBlock .item .img img, .ageLimitBlock .item .img img {
        max-height: 500px;
    }
    .advantageousOfferSection .advantageousOfferBlock, .newYearProgramSection .newYearProgramBlock, .congrSantaClausSection .congrSantaClausBlock, .ageLimitSection .ageLimitBlock {
        background-position: left;
    }
    .descSection .info-block .item:first-of-type {
        order: 2;
    }
    .descSection .info-block .item.noImage {
        order: 1;
        padding-left: 0;
    }
    .bannSection .info-block .item.infoBann .block .connection .social a, footer .footer .info-block .social a {
        width: 35px;
        height: 35px;
    }
    .bannSection .info-block .item.infoBann .block .connection .social a img, footer .footer .info-block .social a img {
        width: 18px;
        height: 18px;
    }
    .bannSection .info-block .item.infoBann .desc {
        margin-left: 60px;
    }
    .bannSection .bannBlock {
        padding-bottom: 120px;
    }
    .lasertagSection {
        margin-bottom: 120px;
    }
    section:not(.bannSection):not(.descSection):not(.breadcrumbsSection) {
        padding: 60px 0;
    }
    .descSection {
        padding-bottom: 60px;
    }
    .advantageousOfferBlock .item .block {
        padding-left: 0;
    }
    .lasertagSection .info-block, .questSection .info-block, .reviewsSection .info-block, .consultationSection .info-block, .photoGallerySection .info-block, .infoQuestSection .info-block .item, .moreQuestInfoSection .detailedInformation, .detailedInformationSection .info-block, .descriptionSection .info-block, .descriptionLasertagSection .info-block, .descriptionSection .info-block {
        grid-template-columns: 250px auto;
    }
    section.mapSection {
        padding-top: 120px!important;
    }
    .advantageousOfferBlock .info-block {
        grid-template-columns: 1fr;
    }
    .advantageousOfferBlock .item .img::before {
        right: -50px;
        bottom: 30px;
        top: auto;
    }
    .whyWeSection .whyWeBlockMain-1::before {
        left: -190px;
    }
    .whyWeSection .whyWeBlockMain-1::after {
        right: -190px;
    }
    .reviewsSlider .swiper-wrapper {
        width: 10px;
    }
    .mapSection .info-block .item {
        width: 100%;
    }
    .mapSection .info-block .item:first-of-type {
        justify-content: space-between;
    }
    #upbutton .btn, .swiper-button-prev.btn, .swiper-button-next.btn, .btn.btn-arrow {
        width: 55px;
        height: 55px;
        padding: 16px;
    }
    #upbutton {
        right: 50px;
    }
    .photoGallerySection .info-block {
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 739px) {
    :root {
        --fz64: 46px;
        --fz48: 30px;
        --fz36: 28px;
        --fz32: 26px;
        --fz24: 17px;
        --fz20: 16px;
        --fz18: 16px;
    }
    .blogItemSection .info-block {
        grid-template-columns: 1fr;
    }
    .ratesSection .info-block {
        grid-template-columns: 1fr;
    }
    .ratesSection .info-block .item.title-desc .desc,
    .ratesSection.bg-pink .info-block .item.title-desc .contact,
    .ratesSection .info-block .item.title-desc .contact {
        display: none;
    }
    .ratesSection .info-block .swiper-slide ul li .mob {
        display: block;
    }
    .ratesSection .info-block .swiper-slide ul li {
        height: auto!important;
    }
    .ratesSection .info-block .swiper-slide ul li .img {
        display: none;
    }
    .advantageousOfferBlock .item:first-of-type .textTitle {
        width: 60%;
    }
    .whyWeSection .whyWeBlockMain-1 {
        padding-bottom: 440px;
    }
    .whyWeSection .whyWeBlockMain-1::before, .whyWeSection .whyWeBlockMain-1::after {
        height: 420px;
    }
    .whyWeSection .whyWeBlockMain-1::before {
        left: 0;
    }
    .whyWeSection .whyWeBlockMain-1::after {
        right: 0;
    }
    .lasertagSection .info-block, .questSection .info-block, .reviewsSection .info-block, .consultationSection .info-block, .photoGallerySection .info-block, .infoQuestSection .info-block .item, .moreQuestInfoSection .detailedInformation, .detailedInformationSection .info-block, .descriptionSection .info-block, .descriptionLasertagSection .info-block, .descriptionSection .info-block {
        gap: 30px;
    }
    .questSection .info-block .item.textInfo .lookAt .block .item_l {
        padding: 7px 15px;
    }
    .btn {
        font-size: 16px;
    }
    .whyWeSection .whyWeBlockMain-1 {
        padding-top: 120px;
    }
    .whyWeSection .whyWeBlock-1 {
        width: 100%;
    }
    .whyWeSection .textTitle::before, .whyWeSection .textTitle::after {
        width: 100%;
    }
    .bannSection .info-block .item.infoBann .nameCompany::before {
        height: 31px;
        top: -40px;
    }
    .bannSection .info-block .item.infoBann .nameCompany::after {
        height: 21px;
        top: -67px;
    }
    .descSection .textTitle::before, .lasertagSection .textTitle::before, .questSection .textTitle::before, .whyWeSection .textTitle::before, .reviewsSection .textTitle::before, .mapSection .textTitle::before {
        height: 19px;
        top: -33px;
    }
    .descSection .textTitle::after, .lasertagSection .textTitle::after, .questSection .textTitle::after, .whyWeSection .textTitle::after, .reviewsSection .textTitle::after, .mapSection .textTitle::after {
        height: 13px;
        top: -52px;
    }
    #upbutton {
        right: 25px;
    }
    .advantageousOfferBlock .item .block .desc-1,
    .advantageousOfferBlock .item .block .desc-2 {
        width: 80%;
    }
    .photoGallerySection .item .photoGallerySlider .swiper-wrapper .swiper-slide img {
        height: 230px;
    }
    .photoGallerySection .swiper-wrapper .swiper-slide .settings {
        display: block;
    }
    .photoGallerySection .swiper-wrapper {
        height: 100%;
    }
    .photoGallerySection .info-block .item:last-of-type::before {
        left: -50px;
        top: -20px;
        width: 100%;
        height: 100%;
        transform: none;
    }
    .questCatalogBlock .title-filter {
        grid-template-columns: 1fr;
    }
    .questCatalogBlock .title-filter .filter {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .moreQuestInfoSection .info-block {
        grid-template-columns: 1fr;
    }
    .ratesSection .info-block .item.title-desc .title__block_min::before {
        content: none;
    }
    .ratesSection .info-block .item.title-desc .title__block_min {
        height: auto;
    }
}
@media screen and (max-width: 630px) {
    .areaBlock .info-block {
        display: none;
    }
    .areaBlock .swiper.areaSlider {
        display: block;
    }
    .questCatalogBlock .title-filter .filter {
        grid-template-columns: 1fr;
    }
    .questCatalogBlock .title-filter .filter label {
        display: flex;
        gap: 5px;
        justify-content: space-between;
    }
    .questCatalogBlock .info-block .item .info .title {
        font-size: 20px;
    }
    .questCatalogBlock .info-block .item .price {
        font-size: 24px;
    }
    .questCatalogBlock .title-filter .filter label > select {
        flex: 1;
    }
    .questCatalogSection .title-filter label.filter-name {
        display: block;
    }
    .bannSection .info-block .item.infoBann {
        padding-top: 0;
    }
    .bannSection .info-block .item.infoBann .block:first-of-type {
        padding-top: 80px;
    }
    .bannSection .info-block .item.infoBann .desc {
        margin-left: 0;
        margin-top: 20px;
    }
    .lasertagSection .btn-block,
    .questSection .btn-block {
        display: none;
    }
    .lasertagSection .btn-block.mob,
    .questSection .btn-block.mob {
        display: block;
    }
    .lasertagSection .info-block,
    .questSection .info-block {
        grid-template-columns: 1fr;
    }
    .lasertagSection, .questSection {
        padding: 90px 0 70px!important;
    }
    .whyWeSection .whyWeBlockMain-1 {
        padding-top: 90px;
    }
    .consultationSection .info-block {
        grid-template-columns: 1fr;
    }
    .advantageousOfferBlock .item .img img {
        max-height: 400px;
    }
    .advantageousOfferBlock .item .img::before {
        width: 256px;
        height: 228px;
    }
    .bannSection .info-block-promo {
        grid-template-columns: 1fr;
    }
    .bannSection .info-block-promo .btn-block {
        justify-content: flex-start;
    }
    .bannSection .info-block-promo::before {
        width: calc(100% + 50px);
        left: -25px;
    }
    .bannSection .info-block-promo {
        padding: 35px 0;
    }
    .newYearProgramBlock .item .block .wholesale {
        grid-template-columns: 1fr;
    }
    .newYearProgramBlock .item .img img, .congrSantaClausBlock .item .img img, .ageLimitBlock .item .img img {
        max-height: 400px;
    }
    .lasertagSection .info-block, .questSection .info-block, .reviewsSection .info-block, .consultationSection .info-block, .photoGallerySection .info-block, .infoQuestSection .info-block .item, .moreQuestInfoSection .detailedInformation, .detailedInformationSection .info-block, .descriptionSection .info-block, .descriptionLasertagSection .info-block, .descriptionSection .info-block {
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 599px) {
    .addressMapBtn {
        position: initial;
        padding: 10px 0 20px;
    }
    .addressMapBtn .item_address {
        background: rgba(255, 255, 255, 0.1);
    }
    .addressMapBtn .item_address {
        font-size: 14px;
        padding: 7px 15px;
    }
    .textErrorSection .textErrorBlock .item .textMain {
        font-size: 64px;
    }
    .textErrorSection .textErrorBlock .item .desc {
        max-width: none;
    }
    .textErrorSection .textErrorBlock .item .desc {
        margin-top: 20px;
    }
    .textErrorSection .textErrorBlock .item .btn-block {
        margin-top: 50px;
    }
    .advantageousOfferBlock .item:first-of-type .textTitle,
    .textErrorSection .textErrorBlock {
        width: 100%;
    }
    .swiper.newFormatSlider1,
    .swiper.newFormatSlider2,
    .swiper.newFormatSlider3,
    .swiper.newFormatSlider4,
    .ratesSlider,
    .swiper.areaSlider {
        padding-bottom: 102px!important;
    }
    .swiper.newFormatSlider1 .swiper-pagination,
    .swiper.newFormatSlider2 .swiper-pagination,
    .swiper.newFormatSlider3 .swiper-pagination,
    .swiper.newFormatSlider4 .swiper-pagination,
    .swiper.ratesSlider .swiper-pagination,
    .swiper.areaSlider .swiper-pagination {
        bottom: 28px;
    }
    .swiper .swiper-button-prev.btn,
    .swiper .swiper-button-next.btn {
        bottom: 10px;
        top: auto;
        z-index: 100;
    }
    .swiper .swiper-button-prev.btn {
        left: 25px;
    }
    .swiper .swiper-button-next.btn {
        right: 25px;
    }
    .swiper.ratesSlider .swiper-button-prev.btn,
    .swiper.areaSlider .swiper-button-prev.btn {
        left: 0;
    }
    .swiper.ratesSlider .swiper-button-next.btn,
    .swiper.areaSlider .swiper-button-next.btn {
        right: 0;
    }
    .swiper .swiper-button-prev.btn:hover {
        transform: scale(1) rotate(-90deg);
    }
    .swiper .swiper-button-next.btn:hover {
        transform: scale(1) rotate(90deg);
    }
    .infoQuestPageSection .title-age, .newFormatSection.birthdayCorporatePage .title-age {
        grid-template-columns: 1fr;
    }
    .infoQuestPageSection .title-age .age, .newFormatSection.birthdayCorporatePage .title-age .age {
        text-align: left;
    }
    .specialSolutionsSection .text .textTitle, .specialSolutionsSection .text .desc {
        width: 100%;
    }
    .specialSolutionsSection .forWhatBlock {
        padding: 20px 25px 56px;
    }
    .videoReviewSection .info-block {
        grid-template-columns: 1fr;
    }
    .ratesSection .info-block {
        gap: 30px;
    }
    .ratesSection .info-block .item .swiper-slide .info .priceBlockRates > div span,
    .videoReviewSection .additionally .text .price {
        font-size: 24px;
    }
    .videoReviewSection .additionally .text {
        width: 100%;
    }
}
@media screen and (max-width: 550px) {
    :root {
        --fz64: 48px;
        --fz48: 36px;
        --fz24: 16px;
    }
    .textErrorSection .textErrorBlock .item .btn-block > a {
        min-width: auto;
        width: 80%;
    }
    .advantageousOfferSection.bigTextSectionLasertag .textTitle {
        font-size: 32px;
    }
    .videoReviewSection .info-block .item {
        height: 350px;
    }
    section.mapSection.lasertagSectionClass {
        padding-top: 50px!important;
    }
    .moreQuestInfoSection .info-block .item.video-photo .block.gallery .img {
        height: 110px;
    }
    .moreQuestInfoSection .info-block .item.video-photo .block.vk-video {
        height: 330px;
    }
    .bannSection .info-block .item {
        width: 100%;
    }
    .bannSection .bannBlock {
        padding-bottom: 100px;
    }
    .advantageousOfferSection .advantageousOfferBlock {
        background-position: left;
        width: 100%;
    }
    .descSection {
        padding-bottom: 50px;
    }
    section:not(.bannSection):not(.descSection):not(.breadcrumbsSection) {
        padding: 50px 0;
    }
    .lasertagSection {
        margin: 50px 0 100px;
    }
    .advantageousOfferBlock .item:first-of-type, .newYearProgramBlock .item:first-of-type, .congrSantaClausBlock .item:first-of-type, .ageLimitBlock .item:first-of-type {
        padding: 25px;
    }
    .whyWeSection {
        margin-top: 50px;
    }
    .reviewsSection .info-block {
        grid-template-columns: 1fr;
    }
    .reviewsSection .info-block .item {
        width: 100%;
    }
    .reviewsSection .info-block > .btn-block {
        display: block;
    }
    .reviewsSection .info-block .item .btn-block {
        display: none;
    }
    .bannSection .info-block .item.infoBann {
        padding-right: 25px;
    }
    .bannSection.usuallyPB .bannBlock {
        padding-bottom: 50px;
    }
    .newYearProgramSection {
        padding-bottom: 50px!important;
    }
    .congrSantaClausSection {
        padding-top: 50px!important;
    }
    .lasertagSection, .photoGallerySection {
        margin-top: 50px;
    }
    .photoGallerySection .item .photoGallerySlider .swiper-wrapper .swiper-slide img {
        height: 180px;
    }
    .advantageousOfferSection .advantageousOfferBlock, .newYearProgramSection .newYearProgramBlock, .congrSantaClausSection .congrSantaClausBlock, .ageLimitSection .ageLimitBlock {
        width: 100%;
    }
    .bannSection .info-block .item:last-of-type {
        padding-right: 0!important;
    }
    .bannSection .info-block-promo .btn-block {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, auto));
        justify-content: inherit;
    }
    .bannSection .info-block-promo .btn-block .btn {
        width: 100%;
    }
    .mapSection.contactPage {
        padding-top: 60px!important;
    }
    footer .footer .info-block .logo .social {
        display: flex;
    }
    footer .footer .info-block > .social {
        display: none;
    }
}
@media screen and (max-width: 428px) {
    .congrSantaClausBlock .item .desc-main, .ageLimitBlock .item .desc-main,
    .ageLimitBlock .item .wholesale {
        padding-left: 0;
    }
    .blogItemSection .info-block {
        margin-top: 20px;
    }
    .descriptionSection.lasertagSectionClass .item:first-of-type {
        gap: 30px;
    }
    .descriptionSection.lasertagSectionClass .info-block {
        row-gap: 30px;
    }
    .showProgramsSection .info-block .item {
        grid-template-columns: 1fr;
    }
    .loungeAreaSection .info-block .item .img {
        height: 370px;
    }
    .infoQuestSection .info-block .item:first-of-type {
        padding-bottom: 30px;
    }
    .infoQuestSection .info-block .item:not(:first-of-type) {
        padding: 30px 0;
    }
    .moreQuestInfoSection .info-block .item.video-photo .block.vk-video {
        height: 285px;
    }
    .bannSection .info-block .item.infoBann .desc {
        margin-left: 50px;
    }
    .moreQuestInfoSection .info-block .item.video-photo .block.gallery .img {
        height: 78px;
    }
    .moreQuestInfoSection .info-block .item.video-photo {
        gap: 17px;
    }
    .moreQuestInfoSection .info-block .item.information > .desc .bg-white,
    .moreQuestInfoSection .info-block .item.information .price {
        margin-top: 30px;
    }
    .bannSection .info-block .item.infoBann .block .connection .phone {
        display: none;
    }
    .bannSection .info-block .item.infoBann .block .connection .social {
        margin-left: 50px;
    }
    .bannSection .info-block .item.infoBann {
        gap: 30px;
    }
    .descSection .btn-block {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .descSection .info-block .list .num.c-teal::before, .descSection .info-block .list .num.c-blue::before, .descSection .info-block .list .num.c-pink::before {
        top: 28px;
    }
    .descSection .info-block .list .num-text:last-of-type .num:before {
        height: calc(100% - 25px);
    }
    .advantageousOfferBlock .item .non-stop, .newYearProgramBlock .item .non-stop, .congrSantaClausBlock .item .non-stop, .ageLimitBlock .item .non-stop {
        margin-top: 10px;
    }
    .advantageousOfferBlock .item .block .desc-1, .advantageousOfferBlock .item .block .desc-2 {
        margin-left: 20px;
    }
    .advantageousOfferBlock .item .block .wholesale, .congrSantaClausBlock .item .wholesale, .ageLimitBlock .item .wholesale {
        margin-top: 20px;
    }
    .advantageousOfferBlock .item .block .wholesale, .congrSantaClausBlock .item .wholesale, .ageLimitBlock .item .wholesale {
        grid-template-columns: 1fr;
    }
    .advantageousOfferBlock .item .block .wholesale .item_w, .congrSantaClausBlock .item .wholesale .item_w, .ageLimitBlock .item .wholesale .item_w {
        flex-direction: row;
        column-gap: 40px;
    }
    .advantageousOfferBlock .item .img img {
        max-height: 495px;
    }
    .advantageousOfferBlock .item .img::before {
        width: 216px;
        height: 198px;
    }
    .whyWeSection .whyWeBlock-1 {
        text-align: left;
    }
    .whyWeSection .whyWeBlock-1 .block-text .item .textTitle {
        margin-left: 0;
    }
    .whyWeSection .whyWeBlock-1 .block-text .item .hlt {
        margin-top: 0;
    }
    .consultationSection .item.textInfo .text {
        padding-left: 20px;
    }
    .consultationSection .consultationBlock {
        width: 100%;
        padding: 25px;
    }
    .consultationSection .item:first-of-type .textTitle-desc .desc,
    .consultationSection .item.textInfo .text {
        font-size: 16px;
    }
    .consultationSection .item:first-of-type .textTitle-desc,
    .consultationSection .info-block {
        gap: 20px;
    }
    .consultationSection .item.textInfo .text {
        max-width: auto;
    }
    .consultationSection .item.textInfo .text {
        margin-bottom: 40px;
    }
    section.mapSection {
        padding-top: 100px!important;
    }
    .consultationBlock::before {
        content: none;
    }
    footer .footer .info-block,
    .footer .info-block .logo {
        width: 100%;
    }
    .footer .info-block .logo .copyright,
    .footer .info-block .logo .phone {
        display: none;
    }
    .footer .info-block .logo {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
    .footer .info-block .logo .logo-img {
        width: 108px;
    }
    .footer .info-block nav {
        row-gap: 60px;
    }
    .advantageousOfferBlock .item .block .wholesale .item_w .desc, .advantageousOfferBlock .item .wholesale .item_w .desc, .ageLimitBlock .item .wholesale .item_w .desc {
        flex: 1;
    }
    .whyWeSection .whyWeBlock-2 .info-block, .specialSolutionsSection .forWhatBlock .info-block {
        grid-template-columns: repeat(auto-fit, minmax(140px, auto));
    }
    .mapSection .info-block .item:last-of-type .social {
        flex-wrap: wrap;
    }
    .mapSection .info-block .item:first-of-type .info {
        flex-wrap: wrap;
    }
    .photoGallerySection .info-block .item .block .info-phone a {
        opacity: .6;
    }
    .photoGallerySection .info-block .item .block .info-phone a:hover {
        opacity: 1;
    }
    .questCatalogBlock .info-block, .infoQuestPageBlock .info-block {
        grid-template-columns: 1fr;
    }
    .questCatalogBlock .info-block, .infoQuestPageBlock .info-block {
        margin-top: 30px;
    }
    .priceServiceSection .info-block .item .info-header .name {
        font-size: 24px;
        font-weight: normal;
        text-transform: none;
    }
    .priceServiceSection .info-block .info-body .btn.btn-arrow {
        display: none;
    }
    .advantageousOfferSection.lasertagSectionClass .advantageousOfferBlock .item .img.bigPhoto {
        width: 90%;
        margin: 0 auto;
    }
}
@media screen and (max-width: 425px) {
    .advantageousOfferSection.bigTextSectionLasertag .textTitle {
        font-size: 28px;
    }
}
@media screen and (max-width: 380px) {
    :root {
        --fz64: 40px;
    }
    .addressMapBtn .item_address {
        width: 100%;
    }
    .textErrorSection .textErrorBlock .item .textMain {
        font-size: 50px;
    }
    .textErrorSection .textErrorBlock .item .btn-block > a {
        width: 100%;
    }
    .offcanvas#mobMenu .offcanvas-body .submenu li.lasertagLi {
        display: block;
    }
    #map {
        height: 450px!important;
    }
    .infoQuestSection .item .block .text ul {
        gap: 10px;
    }
    .specialSolutionsSection.birthdayCorporatePage .textTitle,
    .specialSolutionsSection .text .textTitle {
        font-size: 25px;
    }
    header .header nav {
        display: none;
    }
    footer .footer-2 .info-block .item > a {
        font-size: 14px;
    }
    .congrSantaClausBlock .item .wholesale .item_w .desc {
        opacity: .6;
    }
    .photoGallerySection .item .photoGallerySlider .swiper-wrapper .swiper-slide img {
        height: 200px;
    }
    .questCatalogBlock .info-block .item .more span.new, .newFormatSection .info-block .swiper-slide .more span.new,
    .questCatalogBlock .info-block .item .more span:not(.new), .newFormatSection .info-block .swiper-slide .more span:not(.new) {
        font-size: 14px;
    }
    .questCatalogBlock .title-filter .filter label > select {
        width: 20px;
    }
    .questCatalogBlock .info-block .item .more, .newFormatSection .info-block .swiper-slide .more {
        gap: 5px;
        top: 10px;
        left: 10px;
    }
    .ratesSection .info-block .swiper-slide ul li .mob {
        font-size: 14px;
    }
    .videoReviewSection .info-block .item {
        height: 250px;
    }
    .loungeAreaSection .info-block .item .img {
        height: 320px;
    }
}
@media screen and (max-width: 350px) {
    :root {
        --fz64: 37px;
        --fz48: 30px;
    }
    .advantageousOfferBlock .item .img img {
        max-height: 320px;
    }
    .advantageousOfferBlock .item .img::before {
        width: 166px;
        height: 148px;
    }
    .reviewsSection .item.textInfo .reviewsSlider .text {
        font-size: 14px;
    }
    .descSection .btn-block {
        grid-template-columns: 1fr;
    }
    .questCatalogBlock .info-block .item .img, .infoQuestPageBlock .info-block .item .img, .newFormatSection.birthdayCorporatePage .info-block .swiper-slide .img {
        height: 210px;
    }
    .textErrorSection .textErrorBlock .item {
        padding: 25px;
    }
}
@media screen and (max-width: 320px) {
    #map {
        height: 400px!important;
    }
    header .header .logo {
        width: 95px;
    }
    .textErrorSection .textErrorBlock .item .textMain {
        font-size: 45px;
    }
}