@media screen and (max-width: 1579px) {
    :root {
        --fz48: 43px;
        --fz24: 22px;
    }
    header nav > ul {
        gap: 20px;
    }
    header .header {
        column-gap: 20px;
    }
    header nav li {
        font-size: 14px;
    }
    header .header .phone {
        font-size: 16px;
    }
    .consultationSection .info-block .item.textInfo form input,
    .consultationSection .info-block .item.textInfo form button {
        width: 100%;
    }
    .consultationSection .info-block {
        align-items: flex-start;
    }
    .consultationSection .consultationBlock {
        background-position: top right;
    }
    .consultationSection .info-block .item.textInfo {
        width: 80%;
    }
}
@media screen and (max-width: 1279px) {
    :root {
        --fz48: 40px;
        --fz64: 58px;
    }
    header .btn-header {
        display: none;
    }
    .advantageousOfferBlock .item .img::before {
        width: 286px;
        height: 278px;
    }
    .advantageousOfferBlock .item .block .wholesale, .congrSantaClausBlock .item .wholesale, .ageLimitBlock .item .wholesale {
        column-gap: 10px;
    }
    .advantageousOfferBlock .item .block .desc-1 {
        width: 100%;
    }
    .consultationSection .consultationBlock {
        background-position: top left;
        padding: 40px;
    }
    .consultationSection .info-block .item.textInfo {
        width: 100%;
    }
}
@media screen and (max-width: 1099px) {
    :root {
        --fz64: 55px;
        --fz48: 36px;
        --fz36: 32px;
        --fz32: 30px;
        --fz24: 20px;
        --fz20: 19px;
    }
    .burgerBlock {
        display: flex;
    }
    header .header .phone {
        display: none;
    }
    header nav > ul > li:nth-child(n+3) {
        display: none;
    }
    header .header {
        padding: 15px 0;
    }
    .descSection .info-block .item.noImage {
        padding-left: 50px;
    }
    .advantageousOfferBlock .item .img img {
        transform: scale(1);
        width: 100%;
        max-height: 500px;
    }
    .advantageousOfferBlock .info-block {
        align-items: flex-end;
    }
    .questSection .info-block .item.textInfo .lookAt .block {
        gap: 10px;
    }
    .btn {
        padding: 14px 30px;
    }
    .whyWeSection .whyWeBlock-2 .info-block, .specialSolutionsSection .forWhatBlock .info-block {
        grid-template-columns: repeat(auto-fit, minmax(170px, auto));
    }
    .consultationSection .info-block {
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 980px) {
    .whyWeSection .whyWeBlockMain-1::before {
        left: -120px;
    }
    .whyWeSection .whyWeBlockMain-1::after {
        right: -120px;
    }
    .consultationSection .info-block {
        gap: 50px;
    }
}
@media screen and (max-width: 849px) {
    :root {
        --fz64: 50px;
        --fz48: 32px;
        --fz36: 30px;
        --fz32: 28px;
        --fz24: 18px;
        --fz20: 17px;
    }
    .descSection .info-block {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .descSection .info-block .item:first-of-type {
        order: 2;
    }
    .descSection .info-block .item.noImage {
        order: 1;
        padding-left: 0;
    }
    .bannSection .info-block .item.infoBann .block .connection .social a, footer .footer .info-block .social a {
        width: 35px;
        height: 35px;
    }
    .bannSection .info-block .item.infoBann .block .connection .social a img, footer .footer .info-block .social a img {
        width: 18px;
        height: 18px;
    }
    .bannSection .info-block .item.infoBann .desc {
        margin-left: 60px;
    }
    .bannSection .bannBlock {
        padding-bottom: 120px;
    }
    .lasertagSection {
        margin-bottom: 120px;
    }
    section:not(.bannSection):not(.descSection):not(.breadcrumbsSection) {
        padding: 60px 0;
    }
    .descSection {
        padding-bottom: 60px;
    }
    .advantageousOfferBlock .item .block {
        padding-left: 0;
    }
    .lasertagSection .info-block, .questSection .info-block, .reviewsSection .info-block, .consultationSection .info-block, .photoGallerySection .info-block, .infoQuestSection .info-block .item, .moreQuestInfoSection .detailedInformation, .detailedInformationSection .info-block, .descriptionSection .info-block, .descriptionLasertagSection .info-block, .descriptionSection .info-block {
        grid-template-columns: 250px auto;
    }
    section.mapSection {
        padding-top: 120px!important;
    }
    .advantageousOfferBlock .info-block {
        grid-template-columns: 1fr;
    }
    .advantageousOfferBlock .item .img::before {
        right: -50px;
        bottom: 30px;
        top: auto;
    }
    .whyWeSection .whyWeBlockMain-1::before {
        left: -190px;
    }
    .whyWeSection .whyWeBlockMain-1::after {
        right: -190px;
    }
    .reviewsSlider .swiper-wrapper {
        width: 10px;
    }
    .mapSection .info-block .item {
        width: 100%;
    }
    .mapSection .info-block .item:first-of-type {
        justify-content: space-between;
    }
    /* header .header {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    } */
    #upbutton .btn, .swiper-button-prev.btn, .swiper-button-next.btn, .btn.btn-arrow {
        width: 55px;
        height: 55px;
        padding: 16px;
    }
    #upbutton {
        right: 50px;
    }
}
@media screen and (max-width: 820px) {
    .lineEffects-1,
    .lineEffects-2,
    .lineEffects-3 {
        display: none;
    }
}
/* @media screen and (max-width: 780px) {
    main {
        overflow-x: inherit;
    }
} */
@media screen and (max-width: 739px) {
    :root {
        --fz64: 46px;
        --fz48: 30px;
        --fz36: 28px;
        --fz32: 26px;
        --fz24: 17px;
        --fz20: 16px;
    }
    .advantageousOfferBlock .item:first-of-type .textTitle {
        width: 60%;
    }
    .whyWeSection .whyWeBlockMain-1 {
        padding-bottom: 440px;
    }
    .whyWeSection .whyWeBlockMain-1::before, .whyWeSection .whyWeBlockMain-1::after {
        height: 420px;
    }
    .whyWeSection .whyWeBlockMain-1::before {
        left: 0;
    }
    .whyWeSection .whyWeBlockMain-1::after {
        right: 0;
    }
    .lasertagSection .info-block, .questSection .info-block, .reviewsSection .info-block, .consultationSection .info-block, .photoGallerySection .info-block, .infoQuestSection .info-block .item, .moreQuestInfoSection .detailedInformation, .detailedInformationSection .info-block, .descriptionSection .info-block, .descriptionLasertagSection .info-block, .descriptionSection .info-block {
        gap: 30px;
    }
    .questSection .info-block .item.textInfo .lookAt .block .item_l {
        padding: 7px 15px;
    }
    .btn {
        font-size: 16px;
    }
    .whyWeSection .whyWeBlockMain-1 {
        padding-top: 120px;
    }
    .whyWeSection .whyWeBlock-1 {
        width: 100%;
    }
    .whyWeSection .textTitle::before, .whyWeSection .textTitle::after {
        width: 100%;
    }
    .bannSection .info-block .item.infoBann .nameCompany::before {
        height: 31px;
        top: -40px;
    }
    .bannSection .info-block .item.infoBann .nameCompany::after {
        height: 21px;
        top: -67px;
    }
    .descSection .textTitle::before, .lasertagSection .textTitle::before, .questSection .textTitle::before, .whyWeSection .textTitle::before, .reviewsSection .textTitle::before, .mapSection .textTitle::before {
        height: 19px;
        top: -33px;
    }
    .descSection .textTitle::after, .lasertagSection .textTitle::after, .questSection .textTitle::after, .whyWeSection .textTitle::after, .reviewsSection .textTitle::after, .mapSection .textTitle::after {
        height: 13px;
        top: -52px;
    }
    #upbutton {
        right: 25px;
    }
    .advantageousOfferBlock .item .block .desc-1,
    .advantageousOfferBlock .item .block .desc-2 {
        width: 80%;
    }
}
@media screen and (max-width: 630px) {
    .bannSection .info-block .item.infoBann {
        padding-top: 0;
    }
    .bannSection .info-block .item.infoBann .block:first-of-type {
        padding-top: 80px;
    }
    .bannSection .info-block .item.infoBann .desc {
        margin-left: 0;
        margin-top: 20px;
    }
    .lasertagSection .btn-block,
    .questSection .btn-block {
        display: none;
    }
    .lasertagSection .btn-block.mob,
    .questSection .btn-block.mob {
        display: block;
    }
    .lasertagSection .info-block,
    .questSection .info-block {
        grid-template-columns: 1fr;
    }
    .lasertagSection, .questSection {
        padding: 90px 0 70px!important;
    }
    .whyWeSection .whyWeBlockMain-1 {
        padding-top: 90px;
    }
    .consultationSection .info-block {
        grid-template-columns: 1fr;
    }
    .advantageousOfferBlock .item .img img {
        max-height: 400px;
    }
    .advantageousOfferBlock .item .img::before {
        width: 256px;
        height: 228px;
    }
}
@media screen and (max-width: 550px) {
    :root {
        --fz64: 48px;
        --fz48: 36px;
        --fz24: 16px;
    }
    .bannSection .info-block .item {
        width: 100%;
    }
    .bannSection .bannBlock {
        padding-bottom: 100px;
    }
    .advantageousOfferSection .advantageousOfferBlock {
        background-position: left;
        width: 100%;
    }
    .descSection {
        padding-bottom: 50px;
    }
    section:not(.bannSection):not(.descSection):not(.breadcrumbsSection) {
        padding: 50px 0;
    }
    .lasertagSection {
        margin: 50px 0 100px;
    }
    .advantageousOfferBlock .item:first-of-type, .newYearProgramBlock .item:first-of-type, .congrSantaClausBlock .item:first-of-type, .ageLimitBlock .item:first-of-type {
        padding: 25px;
    }
    .whyWeSection {
        margin-top: 50px;
    }
    .reviewsSection .info-block {
        grid-template-columns: 1fr;
    }
    .reviewsSection .info-block .item {
        width: 100%;
    }
    .reviewsSection .info-block > .btn-block {
        display: block;
    }
    .reviewsSection .info-block .item .btn-block {
        display: none;
    }
}