:root {
    --white: #ffffff;
    --black: #000000;
    --teal: #1BD3B2;
    --pink: #FF72D5;
    --blue: #6297BD;
    --bg: #000000;

    --fz64: 64px;
    --fz48: 48px;
    --fz24: 24px;
    --fz20: 20px;
    --fz18: 18px;
    --fz16: 16px;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg);
    color: var(--white);
    font-family: 'TT Firs Neue', sans-serif;
    font-size: 16px;
}
a {
    color: var(--white);
    text-decoration: none;
}
a:hover {
    color: var(--white);
}
.btn {
    display: inline-block;
    position: relative;
    color: var(--white);
    border-radius: 0;
    padding: 14px 50px;
    font-size: var(--fz18);
    font-weight: 500;
    backdrop-filter: blur(5px);
    transition: all .3s ease-in-out;
}
.btn:hover {
    transform: scale(1.2);
}
.btn .original div span,
.btn .original div span {
    z-index: 10;
}
.btn .effects div span,
.btn .effects div span {
    z-index: 9;
}
.btn:hover .effects div span,
.btn:hover .effects div span {
    animation: flicker 1.5s infinite ease-in-out;
}
.btn .original div span:nth-child(1),
.btn .original div span:nth-child(2),
.btn .effects div span:nth-child(1),
.btn .effects div span:nth-child(2) {
    display: block;
    position: absolute;
}
.btn .original div span:nth-child(1),
.btn .effects div span:nth-child(1) {
    width: 12px;
    height: 2px;
}
.btn .original div span:nth-child(2),
.btn .effects div span:nth-child(2) {
    width: 2px;
    height: 12px;
}
.btn .original div:nth-child(1) span:nth-child(1),
.btn .original div:nth-child(2) span:nth-child(1),
.btn .effects div:nth-child(1) span:nth-child(1),
.btn .effects div:nth-child(2) span:nth-child(1) {
    top: -1px;
}
.btn .original div:nth-child(3) span:nth-child(1),
.btn .original div:nth-child(4) span:nth-child(1),
.btn .effects div:nth-child(3) span:nth-child(1),
.btn .effects div:nth-child(4) span:nth-child(1) {
    bottom: -1px;
}
.btn .original div:nth-child(1) span:nth-child(1),
.btn .original div:nth-child(3) span:nth-child(1),
.btn .effects div:nth-child(1) span:nth-child(1),
.btn .effects div:nth-child(3) span:nth-child(1) {
    left: -1px;
}
.btn .original div:nth-child(2) span:nth-child(1),
.btn .original div:nth-child(4) span:nth-child(1),
.btn .effects div:nth-child(2) span:nth-child(1),
.btn .effects div:nth-child(4) span:nth-child(1) {
    right: -1px;
}
.btn .original div:nth-child(1) span:nth-child(2),
.btn .original div:nth-child(2) span:nth-child(2),
.btn .effects div:nth-child(1) span:nth-child(2),
.btn .effects div:nth-child(2) span:nth-child(2) {
    top: -1px;
}
.btn .original div:nth-child(3) span:nth-child(2),
.btn .original div:nth-child(4) span:nth-child(2),
.btn .effects div:nth-child(3) span:nth-child(2),
.btn .effects div:nth-child(4) span:nth-child(2) {
    bottom: -1px;
}
.btn .original div:nth-child(1) span:nth-child(2),
.btn .original div:nth-child(3) span:nth-child(2),
.btn .effects div:nth-child(1) span:nth-child(2),
.btn .effects div:nth-child(3) span:nth-child(2) {
    left: -1px;
}
.btn .original div:nth-child(2) span:nth-child(2),
.btn .original div:nth-child(4) span:nth-child(2),
.btn .effects div:nth-child(2) span:nth-child(2),
.btn .effects div:nth-child(4) span:nth-child(2) {
    right: -1px;
}
.btn-teal {
    background: rgba(27, 211, 178, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.btn-pink {
    background: rgba(255, 114, 213, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.btn.btn-teal span {
    background-color: var(--teal);
}
.btn.btn-pink span {
    background-color: var(--pink);
}
.lineEffects-1,
.lineEffects-2,
.lineEffects-3 {
    position: relative;
}
.lineEffects-1::before,
.lineEffects-1::after,
.lineEffects-2::before,
.lineEffects-2::after,
.lineEffects-3::before {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}
.lineEffects-1::before {
    content: url('../img/details/line-1.svg');
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
}
.lineEffects-1::after {
    content: '';
    left: 50%;
    top: 200px;
    width: 5px;
    height: 50px;
    filter: blur(4px);
    background-color: var(--teal);
    transform: translateX(-50%);
    opacity: .4;
}
.lineEffects-2::before {
    content: url('../img/details/line-2.svg');
    left: -40px;
    top: 0;
}
.lineEffects-2::after {
    content: '';
    left: -30px;
    top: 600px;
    width: 5px;
    height: 50px;
    filter: blur(4px);
    background-color: var(--teal);
    transform: translateX(-50%);
    opacity: .4;
}
.lineEffects-3::before {
    content: url('../img/details/line-3.svg');
    right: -40px;
    top: 0;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1000;
    backdrop-filter: blur(0);
    transition: all .3s ease-in-out;
}
header.fixed {
    backdrop-filter: blur(10px);
}
header::before,
header::after,
.bannSection .info-block::before,
.bannSection .info-block::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
}
header::before,
.bannSection .info-block::before {
    bottom: 0;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.2) 25%, rgba(255,255,255,0.2) 75%, rgba(255,255,255,0) 100%);
}
header::after,
.bannSection .info-block::after {
    bottom: -1px;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255) 50%, rgba(255,255,255,0) 100%);
    filter: blur(5px);
}
header .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    column-gap: 40px;
    row-gap: 20px;
}
header .header .btn {
    padding: 14px 20px;
}
header .header .logo {
    width: 108px;
}
header .header .logo a {
    display: block;
}
header .header .logo a img {
    width: 100%;
}
header nav > ul {
    display: flex;
    gap: 40px;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    padding: 1.43vw 0;
}
header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
header nav ul li a {
    transition: all .3s ease-in-out;
}
header nav li {
    position: relative;
    cursor: pointer;
}
header .submenu {
    position: absolute;
    padding-top: 1.43vw;
    left: -0.89vw;
    z-index: 9000;
    max-width: 300px;
    width: max-content;
    visibility: hidden;
    opacity: 0;
    -webkit-box-shadow: 0px 15px 8px -15px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 15px 8px -15px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 15px 8px -15px rgba(34, 60, 80, 0.2);
    transition: .3s ease-in-out;
    color: var(--black)
}
header .submenu li {position: relative;}
header .submenu a {
    background: white;
    color: var(--dark);
    text-align: left;
    padding: 0.60vw 1.19vw;
    display: block;
}
header .submenu a:hover {
    color: var(--dark);
}
header .submenu .submenu {
    position: absolute;
    top: 0;
    left: calc(100% - 1px);
    left: -webkit-calc(100% - 1px);
    padding-top: 0;
    padding-left: 0.60vw;
}
header nav li:hover > .submenu {
    visibility: visible;
    opacity: 1;
}
header nav li > .submenu li:first-of-type a {
    padding-top: 1.37vw;
}
header nav li > .submenu li:last-of-type a {
    padding-bottom: 1.37vw;
}
.bannSection .info-block .item.infoBann .block:first-of-type {
    padding-top: 100px;
}

#upbutton {
    cursor: pointer;
    display: none;
    position: fixed;
    color: #fff;
    align-items: center;
    justify-content: center;
    right: 75px;
    bottom: 40px;
    z-index: 500;
    opacity: 0;
}
#upbutton img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#upbutton .btn {
    width: 61px;
    height: 61px;
    padding: 19px;
}

@keyframes flicker {
    0% {
        filter: blur(0px);
        transform: scale(1);
    }
    50% {
        filter: blur(7px);
        transform: scale(2.5);
    }
    100% {
        filter: blur(0px);
        transform: scale(1);
    }
}
.bannSection {
    background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0.2) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url('../img/other/green-fluid-art-abstract-background.jpeg');
}
.bannSection .bannBlock {
    padding-bottom: 160px;
}
.bannSection .info-block {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bannSection .info-block .item {
    width: 50%;
}
.bannSection .info-block .item .img img {
    width: 100%;
}
.bannSection .info-block .item.infoBann {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 0;
}
.bannSection .info-block .item.infoBann .block .connection {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 43px;
}
.bannSection .info-block .item.infoBann .nameCompany {
    position: relative;
    font-size: var(--fz64);
    text-transform: uppercase;
    font-weight: 500;
    line-height: 110%;
}
.textTitle {
    font-size: var(--fz48);
    position: relative;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 110%;
}
.bannSection .info-block .item.infoBann .nameCompany::before,
.bannSection .info-block .item.infoBann .nameCompany::after,
.textTitle::before,
.textTitle::after {
    position: absolute;
    text-transform: uppercase;
    overflow: hidden;
    -webkit-text-fill-color: transparent;
    left: 0;
}
.bannSection .info-block .item.infoBann .nameCompany::before,
.bannSection .info-block .item.infoBann .nameCompany::after {
    content: 'Закрытая';
}
.descSection .textTitle::before,
.descSection .textTitle::after {
    content: 'Активный отдых';
}
.bannSection .info-block .item.infoBann .nameCompany::before {
    -webkit-text-stroke: 2px var(--white);
}
.bannSection .info-block .item.infoBann .nameCompany::after {
    -webkit-text-stroke: 1px var(--white);
}
.descSection .textTitle::before {
    -webkit-text-stroke: 1px var(--teal);
}
.descSection .textTitle::after {
    -webkit-text-stroke: 2px var(--teal);
}
.bannSection .info-block .item.infoBann .nameCompany::before,
.descSection .textTitle::before {
    top: -50px;
    height: 41px;
    opacity: .4;
}
.bannSection .info-block .item.infoBann .nameCompany::after,
.descSection .textTitle::after {
    top: -85px;
    height: 30px;
    opacity: .2;
}
.bannSection .info-block .item.infoBann .desc {
    font-size: var(--fz24);
    max-width: 300px;
    margin: 40px 0 0 90px;
}
.bannSection .info-block .item.infoBann .block .connection .social {
    display: flex;
    gap: 10px;
}
.bannSection .info-block .item.infoBann .block .connection .social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
}
.bannSection .info-block .item.infoBann .block .connection .social a img {
    width: 21px;
    height: 21px;
    object-fit: contain;
}
.descSection .info-block {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
}
.descSection .info-block .item .img img {
    width: 100%;
}
.descSection .info-block .item.noImage {
    padding-left: 100px;
}
.descSection .textTitle {
    margin-top: 60px;
}
.descSection .info-block .list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
    font-size: var(--fz24);
}
.descSection .info-block .list > span {
    opacity: .4;
}
.descSection .info-block .list .num-text {
    display: flex;
    gap: 20px;
}
.c-teal {
    color: var(--teal);
}
.c-blue {
    color: var(--blue);
}
.c-pink {
    color: var(--pink);
}