:root {
    --white: #ffffff;
    --black: #000000;
    --teal: #1BD3B2;
    --pink: #FF72D5;
    --blue: #6297BD;
    --blue2: #0085FF;
    --bg: #000000;

    --fz64: 64px;
    --fz48: 48px;
    --fz36: 36px;
    --fz24: 24px;
    --fz20: 20px;
    --fz18: 18px;
    --fz16: 16px;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg);
    color: var(--white);
    font-family: 'TT Firs Neue', sans-serif;
    font-size: 16px;
}
.contMain {
    perspective: 1px;
}
a {
    color: var(--white);
    text-decoration: none;
}
a:hover {
    color: var(--white);
}
main {
    overflow-x: hidden;
    min-height: 100vh;
}
section:not(.bannSection):not(.descSection):not(.breadcrumbsSection) {
    padding: 80px 0;
}
strong {
    font-weight: 400;
}
.btn {
    display: inline-block;
    position: relative;
    color: var(--white);
    border-radius: 0;
    padding: 14px 50px;
    font-size: var(--fz18);
    font-weight: 500;
    backdrop-filter: blur(5px);
    transition: all .3s ease-in-out;
}
.btn:hover {
    transform: scale(1.2);
}
.btn .original div span,
.btn .original div span {
    z-index: 10;
}
.btn .effects div span,
.btn .effects div span {
    z-index: 9;
}
.btn:hover .effects div span,
.btn:hover .effects div span {
    animation: flicker 1.5s infinite ease-in-out;
}
.btn .original div span:nth-child(1),
.btn .original div span:nth-child(2),
.btn .effects div span:nth-child(1),
.btn .effects div span:nth-child(2) {
    display: block;
    position: absolute;
}
.btn .original div span:nth-child(1),
.btn .effects div span:nth-child(1) {
    width: 12px;
    height: 2px;
}
.btn .original div span:nth-child(2),
.btn .effects div span:nth-child(2) {
    width: 2px;
    height: 12px;
}
.btn .original div:nth-child(1) span:nth-child(1),
.btn .original div:nth-child(2) span:nth-child(1),
.btn .effects div:nth-child(1) span:nth-child(1),
.btn .effects div:nth-child(2) span:nth-child(1) {
    top: -1px;
}
.btn .original div:nth-child(3) span:nth-child(1),
.btn .original div:nth-child(4) span:nth-child(1),
.btn .effects div:nth-child(3) span:nth-child(1),
.btn .effects div:nth-child(4) span:nth-child(1) {
    bottom: -1px;
}
.btn .original div:nth-child(1) span:nth-child(1),
.btn .original div:nth-child(3) span:nth-child(1),
.btn .effects div:nth-child(1) span:nth-child(1),
.btn .effects div:nth-child(3) span:nth-child(1) {
    left: -1px;
}
.btn .original div:nth-child(2) span:nth-child(1),
.btn .original div:nth-child(4) span:nth-child(1),
.btn .effects div:nth-child(2) span:nth-child(1),
.btn .effects div:nth-child(4) span:nth-child(1) {
    right: -1px;
}
.btn .original div:nth-child(1) span:nth-child(2),
.btn .original div:nth-child(2) span:nth-child(2),
.btn .effects div:nth-child(1) span:nth-child(2),
.btn .effects div:nth-child(2) span:nth-child(2) {
    top: -1px;
}
.btn .original div:nth-child(3) span:nth-child(2),
.btn .original div:nth-child(4) span:nth-child(2),
.btn .effects div:nth-child(3) span:nth-child(2),
.btn .effects div:nth-child(4) span:nth-child(2) {
    bottom: -1px;
}
.btn .original div:nth-child(1) span:nth-child(2),
.btn .original div:nth-child(3) span:nth-child(2),
.btn .effects div:nth-child(1) span:nth-child(2),
.btn .effects div:nth-child(3) span:nth-child(2) {
    left: -1px;
}
.btn .original div:nth-child(2) span:nth-child(2),
.btn .original div:nth-child(4) span:nth-child(2),
.btn .effects div:nth-child(2) span:nth-child(2),
.btn .effects div:nth-child(4) span:nth-child(2) {
    right: -1px;
}

.btn.type-2 .original div:nth-child(1) span:nth-child(1),
.btn.type-2 .original div:nth-child(2) span:nth-child(1),
.btn.type-2 .effects div:nth-child(1) span:nth-child(1),
.btn.type-2 .effects div:nth-child(2) span:nth-child(1) {
    top: -7px;
}
.btn.type-2 .original div:nth-child(3) span:nth-child(1),
.btn.type-2 .original div:nth-child(4) span:nth-child(1),
.btn.type-2 .effects div:nth-child(3) span:nth-child(1),
.btn.type-2 .effects div:nth-child(4) span:nth-child(1) {
    bottom: -7px;
}
.btn.type-2 .original div:nth-child(1) span:nth-child(1),
.btn.type-2 .original div:nth-child(3) span:nth-child(1),
.btn.type-2 .effects div:nth-child(1) span:nth-child(1),
.btn.type-2 .effects div:nth-child(3) span:nth-child(1) {
    left: -7px;
}
.btn.type-2 .original div:nth-child(2) span:nth-child(1),
.btn.type-2 .original div:nth-child(4) span:nth-child(1),
.btn.type-2 .effects div:nth-child(2) span:nth-child(1),
.btn.type-2 .effects div:nth-child(4) span:nth-child(1) {
    right: -7px;
}
.btn.type-2 .original div:nth-child(1) span:nth-child(2),
.btn.type-2 .original div:nth-child(2) span:nth-child(2),
.btn.type-2 .effects div:nth-child(1) span:nth-child(2),
.btn.type-2 .effects div:nth-child(2) span:nth-child(2) {
    top: -7px;
}
.btn.type-2 .original div:nth-child(3) span:nth-child(2),
.btn.type-2 .original div:nth-child(4) span:nth-child(2),
.btn.type-2 .effects div:nth-child(3) span:nth-child(2),
.btn.type-2 .effects div:nth-child(4) span:nth-child(2) {
    bottom: -7px;
}
.btn.type-2 .original div:nth-child(1) span:nth-child(2),
.btn.type-2 .original div:nth-child(3) span:nth-child(2),
.btn.type-2 .effects div:nth-child(1) span:nth-child(2),
.btn.type-2 .effects div:nth-child(3) span:nth-child(2) {
    left: -7px;
}
.btn.type-2 .original div:nth-child(2) span:nth-child(2),
.btn.type-2 .original div:nth-child(4) span:nth-child(2),
.btn.type-2 .effects div:nth-child(2) span:nth-child(2),
.btn.type-2 .effects div:nth-child(4) span:nth-child(2) {
    right: -7px;
}

form button.btn-teal:focus,
.btn-teal {
    background: rgba(27, 211, 178, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
form button.btn-pink:focus,
.btn-pink {
    background: rgba(255, 114, 213, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.btn.btn-teal.type-2,
.btn.btn-blue.type-2 {
    color: var(--black);
    padding: 14px 20px;
}
.btn.btn-teal.type-2 {
    background: var(--teal);
}
.btn.btn-blue.type-2 {
    background: var(--blue2);
}
.btn.btn-teal span {
    background-color: var(--teal);
}
.btn.btn-blue span {
    background-color: var(--blue2);
}
.btn.btn-pink span {
    background-color: var(--pink);
}
.lineEffects-1,
.lineEffects-2,
.lineEffects-3,
.lineEffects {
    position: relative;
}
.lineEffects-1::before,
.lineEffects-1::after,
.lineEffects-2::before,
.lineEffects-2::after,
.lineEffects-3::before {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
}
.lineEffects-1::before {
    content: url('../img/details/line-1.svg');
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
}
.lineEffects-1::after {
    content: '';
    left: 50%;
    top: 200px;
    width: 5px;
    height: 50px;
    filter: blur(4px);
    background-color: var(--teal);
    transform: translateX(-50%);
    opacity: .4;
}
.lineEffects-2::before {
    content: url('../img/details/line-2.svg');
    left: -40px;
    top: 0;
}
.lineEffects-2::after {
    content: '';
    left: -30px;
    top: 600px;
    width: 5px;
    height: 50px;
    filter: blur(4px);
    background-color: var(--teal);
    transform: translateX(-50%);
    opacity: .4;
}
.lineEffects-3::before {
    content: url('../img/details/line-3.svg');
    right: -41px;
    top: 0;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1000;
    backdrop-filter: blur(0);
    transition: all .3s ease-in-out;
}
header.fixed {
    backdrop-filter: blur(10px);
}
header::before,
header::after,
.bannSection .info-block::before,
.bannSection .info-block::after,
.infoQuestSection .info-block .item:not(:last-of-type)::before,
.infoQuestSection .info-block .item:not(:last-of-type)::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
}
header::before,
.bannSection .info-block::before,
.infoQuestSection .info-block .item:not(:last-of-type)::before {
    bottom: 0;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.2) 25%, rgba(255,255,255,0.2) 75%, rgba(255,255,255,0) 100%);
}
header::after,
.bannSection .info-block::after,
.infoQuestSection .info-block .item:not(:last-of-type)::after {
    bottom: -1px;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255) 50%, rgba(255,255,255,0) 100%);
    filter: blur(5px);
}
header .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    column-gap: 40px;
    row-gap: 20px;
}
header .header .btn {
    padding: 14px 20px;
}
header .header .logo {
    width: 108px;
}
header .header .logo a {
    display: block;
}
header .header .logo a img {
    width: 100%;
}
header .header .phone {
    font-size: var(--fz18);
}
header nav > ul {
    display: flex;
    gap: 40px;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}
header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
header nav ul li a {
    transition: all .3s ease-in-out;
}
header nav li {
    position: relative;
    cursor: pointer;
}
header .submenu {
    position: absolute;
    padding-top: 10px;
    left: 0;
    z-index: 50;
    max-width: 310px;
    width: max-content;
    visibility: hidden;
    opacity: 0;
    transition: .3s ease-in-out;
}
header .submenu > ul {
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(0, 0, 0, 0.2);
}
header .submenu li > a {
    color: var(--white);
    text-align: left;
    display: block;
    font-weight: 500;
    padding: 20px;
    padding-bottom: 0;
}
header .submenu li:last-of-type a span {
    border: 0
}
header .submenu a > span {
    display: block;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
header nav .submenu li {
    transition: all .3s;
}
header nav .submenu li:hover {
    background-color: rgba(0, 0, 0, 0.5)
}
header .submenu a:hover {
    color: var(--dark);
}
header nav li:hover > .submenu {
    visibility: visible;
    opacity: 1;
}
header nav li a.c-teal-h.active,
header nav li:hover a.c-teal-h {
    color: var(--teal);
}
header nav li a.c-pink-h.active,
header nav li:hover a.c-pink-h {
    color: var(--pink);
}
header nav li a.c-blue-h.active,
header nav li:hover a.c-blue-h {
    color: var(--blue2);
}
.bannSection .info-block .item.infoBann .block:first-of-type {
    padding-top: 100px;
}

#upbutton {
    cursor: pointer;
    display: none;
    position: fixed;
    color: #fff;
    align-items: center;
    justify-content: center;
    right: 75px;
    bottom: 40px;
    z-index: 500;
    opacity: 0;
}
#upbutton img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#upbutton .btn {
    width: 61px;
    height: 61px;
    padding: 19px;
}

@keyframes flicker {
    0% {
        filter: blur(0px);
        transform: scale(1);
    }
    50% {
        filter: blur(7px);
        transform: scale(2.5);
    }
    100% {
        filter: blur(0px);
        transform: scale(1);
    }
}
.bannSection {
    background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0.2) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url('../img/other/green-fluid-art-abstract-background.jpeg');
}
.bannSection.new-year-bg {
    background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0.2) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url('../img/other/ice-surface-texture-macro-shot-blue-wallpaper.jpeg');
}
.bannSection.new-year-bg .nameCompany {
    width: 80%;
}
.bannSection .bannBlock {
    padding-bottom: 160px;
}
.bannSection .info-block {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bannSection .info-block .item {
    width: 50%;
}
.bannSection .info-block .item:last-of-type {
    display: flex;
    align-items: flex-end;
    position: relative;
    z-index: 20;
}
.bannSection .info-block .item .img img {
    width: 100%;
}
.bannSection .info-block .item.infoBann {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 0;
}
.bannSection .info-block .item.infoBann .block .connection {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 43px;
}
.bannSection .info-block .item.infoBann .nameCompany {
    position: relative;
    font-size: var(--fz64);
    text-transform: uppercase;
    font-weight: 500;
    line-height: 110%;
}
.textTitle {
    font-size: var(--fz48);
    position: relative;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 110%;
}
.bannSection .info-block .item.infoBann .nameCompany::before,
.bannSection .info-block .item.infoBann .nameCompany::after,
.textTitle::before,
.textTitle::after {
    position: absolute;
    text-transform: uppercase;
    overflow: hidden;
    -webkit-text-fill-color: transparent;
    left: 0;
}
.bannSection .info-block .item.infoBann .nameCompany::before,
.bannSection .info-block .item.infoBann .nameCompany::after {
    content: 'Закрытая';
}
.bannSection.new-year-bg .info-block .item.infoBann .nameCompany::before,
.bannSection.new-year-bg .info-block .item.infoBann .nameCompany::after {
    content: 'Такой новый';
}
.descSection .textTitle::before,
.descSection .textTitle::after {
    content: 'Активный отдых';
}
.lasertagSection .textTitle::before,
.lasertagSection .textTitle::after {
    content: 'Чем может';
}
.questSection .textTitle::before,
.questSection .textTitle::after {
    content: 'Подробнее';
}
.whyWeSection .textTitle::before,
.whyWeSection .textTitle::after {
    content: 'Почему';
}
.reviewsSection .textTitle::before,
.reviewsSection .textTitle::after {
    content: 'Отзывы';
}
.mapSection .textTitle::before,
.mapSection .textTitle::after {
    content: 'Контакты';
}
.bannSection .info-block .item.infoBann .nameCompany::before,
.whyWeSection .textTitle::before {
    -webkit-text-stroke: 2px var(--white);
}
.bannSection .info-block .item.infoBann .nameCompany::after,
.whyWeSection .textTitle::after {
    -webkit-text-stroke: 1px var(--white);
}
.descSection .textTitle::before,
.questSection .textTitle::before,
.reviewsSection .textTitle::before,
.mapSection .textTitle::before {
    -webkit-text-stroke: 2px var(--teal);
}
.descSection .textTitle::after,
.questSection .textTitle::after,
.reviewsSection .textTitle::after,
.mapSection .textTitle::after {
    -webkit-text-stroke: 1px var(--teal);
}
.lasertagSection .textTitle::before {
    -webkit-text-stroke: 2px var(--pink);
}
.lasertagSection .textTitle::after {
    -webkit-text-stroke: 1px var(--pink);
}
.bannSection .info-block .item.infoBann .nameCompany::before {
    top: -50px;
    height: 41px;
    opacity: .4;
}
.bannSection .info-block .item.infoBann .nameCompany::after {
    top: -85px;
    height: 30px;
    opacity: .2;
}
.descSection .textTitle::before,
.lasertagSection .textTitle::before,
.questSection .textTitle::before,
.whyWeSection .textTitle::before,
.reviewsSection .textTitle::before,
.mapSection .textTitle::before {
    height: 30px;
    top: -40px;
    opacity: .4;
}
.descSection .textTitle::after,
.lasertagSection .textTitle::after,
.questSection .textTitle::after,
.whyWeSection .textTitle::after,
.reviewsSection .textTitle::after,
.mapSection .textTitle::after {
    height: 19px;
    top: -65px;
    opacity: .2;
}
.whyWeSection .textTitle::before,
.whyWeSection .textTitle::after {
    left: 50%;
    transform: translateX(-50%);
}
.bannSection .info-block .item.infoBann .desc {
    font-size: var(--fz24);
    max-width: 300px;
    margin: 40px 0 0 90px;
}
.bannSection .info-block .item.infoBann .block .connection .social,
footer .footer .info-block .social {
    display: flex;
    gap: 10px;
}
.bannSection .info-block .item.infoBann .block .connection .social a,
footer .footer .info-block .social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
}
.bannSection .info-block .item.infoBann .block .connection .social a img,
footer .footer .info-block .social a img {
    width: 21px;
    height: 21px;
    object-fit: contain;
}
.social.blue a img {
    filter: invert(71%) sepia(92%) saturate(2172%) hue-rotate(193deg) brightness(101%) contrast(103%);
}
.social.pink a img {
    filter: invert(36%) sepia(54%) saturate(3695%) hue-rotate(193deg) brightness(101%) contrast(106%);
}
.descSection .info-block,
.advantageousOfferBlock .info-block,
.newYearProgramBlock .info-block,
.congrSantaClausBlock .info-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.descSection .info-block .item .img {
    width: 100%;
    height: 100%;
}
.descSection .info-block .item .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.descSection .info-block .item.noImage {
    padding-left: 100px;
}
.descSection .textTitle {
    margin-top: 60px;
}
.descSection .info-block .list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
    font-size: var(--fz24);
}
.descSection .info-block .list .num-text > span {
    opacity: .4;
}
.descSection .info-block .list .num-text {
    display: flex;
    gap: 20px;
}
.c-teal {
    color: var(--teal);
}
.c-blue {
    color: var(--blue);
}
.c-pink {
    color: var(--pink);
}
.descSection .info-block .list .num {
    position: relative;
}
.descSection .info-block .list .num.c-teal::before,
.descSection .info-block .list .num.c-blue::before,
.descSection .info-block .list .num.c-pink::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 35px;
    width: 6px;
    height: calc(100% - 10px);
    transform: translateX(-50%);
}
.descSection .info-block .list .num.c-teal::before {
    background: linear-gradient(180deg, #1BD3B2 0%, rgba(27, 211, 178, 0) 100%);
}
.descSection .info-block .list .num.c-blue::before {
    background: linear-gradient(180deg, #6297BD 0%, rgba(98, 151, 189, 0) 100%);
}
.descSection .info-block .list .num.c-pink::before {
    background: linear-gradient(180deg, #BD296F 0%, rgba(189, 41, 111, 0) 100%);
}
.descSection .info-block .list .num-text:last-of-type .num:before {
    height: calc(100% - 40px);
}
.descSection .btn-block {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 10px;
    margin-top: 40px;
}
.advantageousOfferSection .advantageousOfferBlock {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../img/other/purple-alcohol-ink-abstract-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}
.newYearProgramSection .newYearProgramBlock {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../img/other/top-view-blue-white-background-copy-space.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}
.congrSantaClausSection .congrSantaClausBlock {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../img/other/beautiful-frost-pattern-window..png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}
.descSection {
    padding-bottom: 80px;
}
.advantageousOfferSection {
    position: relative;
}
.advantageousOfferBlock .item:first-of-type,
.newYearProgramBlock .item:first-of-type,
.congrSantaClausBlock .item:first-of-type {
    padding: 40px;
}
.advantageousOfferBlock .item {
    width: 100%;
    z-index: 20;
}
.advantageousOfferBlock .item .img,
.newYearProgramBlock .item .img,
.congrSantaClausBlock .item .img {
    position: relative;
    display: flex;
    justify-content: center;
}
.advantageousOfferBlock .item .img img {
    transform: scale(1.1) translateY(-30px);
}
.advantageousOfferBlock .item .img::before {
    content: '';
    position: absolute;
    top: 60px;
    right: -180px;
    width: 356px;
    height: 328px;
    background-image: url('../img/other/bubblic.png');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 20;
}
.advantageousOfferBlock .item .non-stop,
.newYearProgramBlock .item .non-stop,
.congrSantaClausBlock .item .non-stop {
    padding: 10px 20px;
    background-color: var(--white);
    color: var(--black);
    font-size: var(--fz24);
    display: inline-block;
    margin-top: 20px;
}
.advantageousOfferBlock .item .block {
    padding-left: 20px;
    margin-top: 20px;
}
.advantageousOfferBlock .item .block .desc-1 {
    margin-bottom: 10px;
    width: 50%;
}
.advantageousOfferBlock .item .block .desc-2 {
    opacity: .4;
}
.advantageousOfferBlock .item .block .wholesale,
.congrSantaClausBlock .item .wholesale {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, auto));
    column-gap: 20px;
    row-gap: 10px;
    margin-top: 40px;
}
.advantageousOfferBlock .item .block .wholesale .item_w,
.congrSantaClausBlock .item .wholesale .item_w {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
}
.advantageousOfferBlock .item .block .wholesale .item_w .price,
.congrSantaClausBlock .item .wholesale .item_w .price {
    font-size: var(--fz24);
}
.advantageousOfferBlock .item .block .wholesale .item_w .desc,
.advantageousOfferBlock .item .wholesale .item_w .desc {
    opacity: .6;
}
.advantageousOfferBlock .item .block .btn-block {
    margin-top: 30px;
}
.lasertagSection .info-block,
.questSection .info-block,
.reviewsSection .info-block,
.consultationSection .info-block,
.photoGallerySection .info-block,
.infoQuestSection .info-block .item,
.moreQuestInfoSection .detailedInformation,
.detailedInformationSection .info-block {
    display: grid;
    grid-template-columns: auto 65%;
    gap: 45px;
}
.lasertagBlock,
.questBlock,
.reviewsBlock,
.consultationBlock,
.footer,
.footer-2 {
    position: relative;
}
.reviewsBlock::before,
.reviewsBlock::after,
.consultationBlock::before,
.footer::before,
.footer-2::before {
    content: '';
    position: absolute;
    top: 0;
    width: 1px;
    height: 330%;
    filter: blur(1px);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 25%, rgba(255,255,255,.3) 75%, rgba(255,255,255,0) 100%);
}
.consultationBlock::before,
.footer::before,
.footer-2::before {
    width: 100%;
    height: 1px;
    top: auto;
    bottom: -80px;
    left: 50%;
    transform: translateX(-50%);
}
.footer::before,
.footer-2::before {
    top: 0;
    bottom: auto;
    left: 50%;
    transform: translateX(-50%);
    filter: blur(2px);
}
.lasertagBlock::before,
.lasertagBlock::after,
.questBlock::before,
.questBlock::after {
    content: '';
    position: absolute;
    bottom: -320px;
    width: 1px;
    height: 360px;
    filter: blur(1px);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 25%, rgba(255,255,255,.3) 75%, rgba(255,255,255,0) 100%);
}
.lasertagBlock::before,
.questBlock::before,
.reviewsBlock::before {
    left: -40px;
}
.lasertagBlock::after,
.questBlock::after,
.reviewsBlock::after {
    right: -40px;
}
.lasertagSection {
    background-image: url('../img/details/grid-pink.svg');
    margin: 80px 0 160px;
    position: relative;
}
.questSection {
    background-image: url('../img/details/grid-teal.svg');
}
.lasertagSection,
.questSection {
    padding: 125px 0 70px!important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.lasertagSection .item .text,
.questSection .item.textInfo,
.infoQuestSection .item .text,
.detailedInformationSection .item .text {
    font-size: var(--fz24);
}
.lasertagSection .info-block .item:first-of-type,
.questSection .info-block .item:first-of-type,
.reviewsSection .info-block .item:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
.questSection .info-block .item.textInfo .lookAt {
    margin: 30px 0 40px;
}
.questSection .info-block .item.textInfo .lookAt .block {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 10px;
    margin-top: 20px;
}
.questSection .info-block .item.textInfo .lookAt .block .item_l {
    padding: 10px 20px;
    border-radius: 1000px;
    background-color: var(--white);
    color: var(--black);
    font-size: var(--fz16);
    font-weight: 500;
}
.whyWeSection {
    margin-top: 80px;
}
.whyWeSection .whyWeBlock-1 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    z-index: 50;
}
.whyWeSection .whyWeBlock-1 .block-text .item .textTitle {
    width: 70%;
    margin: 0 auto 30px;
}
.whyWeSection .whyWeBlock-1 .block-text .item .text {
    font-size: var(--fz18);
}
.whyWeSection .whyWeBlock-1 .block-text .item .hlt {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 1000px;
    background-color: var(--teal);
    margin-top: 35px;
    color: var(--black)
}
.whyWeSection .whyWeBlockMain-1 {
    position: relative;
    padding: 160px 0 80px;
    background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../img/other/green-fluid-art-abstract-background.jpeg');
}
.whyWeSection .whyWeBlockMain-1::before,
.whyWeSection .whyWeBlockMain-1::after {
    content: '';
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 110%;
}
.whyWeSection .whyWeBlockMain-1::before {
    left: 0;
    background-image: url('../img/other/hero-1.png');
}
.whyWeSection .whyWeBlockMain-1::after {
    right: 0;
    background-image: url('../img/other/hero-2.png');
    background-position-x: right;
}
.whyWeSection .whyWeBlock-2 {
    position: relative;
    padding: 40px 0;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}
.whyWeSection .whyWeBlock-2::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('../img/details/grid-white.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .1;
}
.whyWeSection .whyWeBlock-2 .info-block {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, auto));
    gap: 25px;
}
.whyWeSection .whyWeBlock-2 .info-block .item {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    align-items: center;
}
.whyWeSection .whyWeBlock-2 .info-block .item > span {
    padding: 0 10px;
    font-size: var(--fz24);
}
.whyWeSection .whyWeBlock-2 .info-block .item .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    padding: 16px;
    border-radius: 50%;
    border: 2px solid var(--teal);
}
.whyWeSection .whyWeBlock-2 .info-block .item .icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.reviewsSection .item:first-of-type .desc {
    margin-top: 30px;
    font-size: var(--fz18);
    color: rgba(255, 255, 255, 0.4);
    max-width: 205px;
}
.rating-mini {
	display: flex;
    gap: 3px;
	font-size: 0;
}
.rating-mini span {
	padding: 0;
	font-size: 15px;
	line-height: 1;
	color: lightgrey;
}
.rating-mini > span:before {
	content: '★';
}
.rating-mini > span.active {
	color: var(--teal);
}
.reviewsSection .item.textInfo .reviewsSlider .text {
    padding: 25px 25px 45px;
}
.reviewsSection .item.textInfo .reviewsSlider .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgba(27, 211, 177, 0.2);
    background-image: url('../img/details/grid-white-min.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}
.reviewsSection .item.textInfo .reviewsSlider .person {
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
    padding: 25px;
    background: rgba(27, 211, 178, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
}
.reviewsSection .item.textInfo .reviewsSlider .img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid var(--teal);
    overflow: hidden;
}
.reviewsSection .item.textInfo .reviewsSlider .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.reviewsSection .item.textInfo .reviewsSlider .info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.reviewsSection .item.textInfo .reviewsSlider .info .name {
    font-size: var(--fz18);
}
.reviewsSection .item.textInfo .reviewsSlider .info .date {
    opacity: .4;
    font-weight: 500;
}
.reviewsSection .textTitle-desc {
    margin-top: 60px;
}
.consultationSection {
    padding-top: 40px!important;
}
.consultationSection .consultationBlock {
    padding: 40px 180px 40px 40px;
}
.consultationSection .info-block {
    gap: 75px;
    align-items: flex-end;
}
.consultationSection .item:first-of-type .textTitle-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    font-size: var(--fz18);
    height: 100%;
}
.consultationSection .item:first-of-type .textTitle-desc .desc {
    padding-left: 20px;
}
.consultationSection .item:first-of-type .textTitle-desc .desc > a {
    color: var(--pink)
}
.consultationSection .consultationBlock {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../img/other/orange-fluid-art-abstract-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}
.consultationSection .item.textInfo .text {
    max-width: 330px;
    opacity: .6;
    font-size: var(--fz18);
    margin-bottom: 28px;
}
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
form input {
    width: calc(50% - 10px);
    padding: 15px;
    background-color: var(--white);
    border: 0;
    outline: none;
}
form input:focus {
    border: 0;
    outline: none;
}
form button {
    width: calc(50% - 10px);
}
form button:focus {
    outline: none;
}
form button.btn:hover {
    transform: scale(1);
}
.mapSection .info-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    gap: 30px;
    margin-bottom: 40px;
}
.mapSection .info-block .item:first-of-type {
    display: flex;
    column-gap: 100px;
    row-gap: 20px;
}
.mapSection .info-block .item:first-of-type .info {
    display: flex;
    column-gap: 40px;
    row-gap: 20px;
}
.mapSection .info-block .item:first-of-type .info .phoneBlock {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.mapSection .info-block .item:first-of-type .info .phoneBlock span {
    font-size: var(--fz18);
    font-weight: 500;
}
.mapSection .info-block .item:last-of-type .social {
    display: flex;
    gap: 20px;
}
.mapSection .info-block .item:last-of-type .social a {
    display: flex;
    column-gap: 20px;
    padding: 13px 10px;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.1)
}
section.mapSection {
    padding-top: 140px!important;
}
footer .footer .info-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 50px;
    row-gap: 30px;
}
.footer .info-block .logo {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
}
.footer .info-block .logo .logo-img {
    width: 164px;
}
.footer .info-block .logo .logo-img img {
    width: 100%;
}
.footer .info-block .logo .copyright {
    opacity: .4;
}
.footer .info-block .logo .phone {
    font-size: var(--fz18);
}
.footer .info-block nav {
    display: flex;
    column-gap: 80px;
    row-gap: 40px;
}
.footer .info-block nav .name-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer .info-block nav .name {
    font-size: var(--fz20);
    text-transform: uppercase;
}
.footer .info-block nav .list ul {
    padding: 0;
    margin: 0;
}
.footer .info-block nav .list ul li {
    list-style: none;
    opacity: .4;
    transition: all .3s;
}
.footer .info-block nav .list ul li:hover {
    opacity: .8;
}
.footer .info-block nav .list ul li:not(:last-of-type) {
    margin-bottom: 10px;
}
footer {
    background-image: url('../img/details/grid-white-big.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
footer .footer {
    padding: 60px 0 30px;
}
footer .footer-2 {
    padding: 30px 0 80px;
}
footer .footer-2 .info-block {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    row-gap: 20px;
}
footer .footer-2 .info-block .item > a {
    opacity: .4;
}
footer .footer-2 .info-block .item {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 20px;
}
.bannSection .info-block-promo {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 30px;
    padding: 35px 0;
}
.bannSection .info-block-promo::before {
    content: '';
    position: absolute;
    width: calc(100% + 60px);
    left: -30px;
    height: 100%;
    background: rgba(121, 192, 242, 0.05);
    border: 2px solid rgba(121, 192, 242, 0.1);
    backdrop-filter: blur(5px);
}
.bannSection .info-block-promo .btn-block {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
.bannSection .info-block-promo .item .title__block_min,
.photoGallerySection .title__block_min {
    font-size: var(--fz36);
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 14px;
    position: relative;
}
.title__block_min {
    font-size: var(--fz36);
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
}
.bannSection .info-block-promo .item .desc {
    font-size: var(--fz24);
    opacity: .4;
}
.bannSection.usuallyPB .bannBlock {
    padding-bottom: 80px;
}
.newYearProgramSection {
    padding-bottom: 40px!important;
}
.newYearProgramBlock .item .img img,
.congrSantaClausBlock .item .img img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}
.newYearProgramBlock .item .block {
    margin-top: 20px;
}
.newYearProgramBlock .item .block .desc-1,
.newYearProgramBlock .item .block .btn-block {
    padding-left: 20px;
}
.newYearProgramBlock .item .block .wholesale {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    column-gap: 20px;
    row-gap: 10px;
}
.newYearProgramBlock .item .block .wholesale .item_w {
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
}
.newYearProgramBlock .item .block .wholesale .item_w:first-of-type {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}
.newYearProgramBlock .item .block .wholesale .item_w.program {
    font-size: var(--fz18);
}
.newYearProgramBlock .item .block .wholesale .item_w ul {
    padding-left: 16px;
    margin-top: 10px;
}
.newYearProgramBlock .item .block .wholesale .item_w ul li:not(:last-of-type) {
    margin-bottom: 10px;
}
.newYearProgramBlock .item .block .wholesale .item_w .price span {
    display: inline-block;
    font-size: var(--fz20);
    padding: 5px 10px;
    background-color: var(--white);
    color: var(--black);
}
.newYearProgramBlock .item .block .wholesale .item_w .desc {
    font-size: var(--fz24);
}
.newYearProgramBlock .item .block .wholesale .item_w .address {
    width: 100%;
    padding: 14px;
    background-color: var(--black);
    text-align: center;
}
.newYearProgramBlock .item .block .desc-1 {
    max-width: 290px;
    margin-top: 20px;
    font-weight: 500;
}
.newYearProgramBlock .item .block .btn-block {
    margin-top: 35px;
}
.newYearProgramBlock .info-block {
    align-items: flex-end
}
.newYearProgramBlock {
    position: relative;
    overflow: hidden;
}
.newYearProgramBlock::before {
    content: '';
    position: absolute;
    width: 335px;
    height: 446px;
    top: 0;
    right: 0;
    background-image: url('../img/details/snowflakes.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
}
.congrSantaClausSection {
    padding-top: 40px!important;
}
.congrSantaClausBlock .info-block {
    align-items: center;
}
.congrSantaClausBlock .item .desc-main {
    padding-left: 20px;
    margin-top: 20px;
}
.congrSantaClausBlock .item .wholesale {
    margin-top: 20px;
}
.congrSantaClausBlock .item .desc-opacity {
    opacity: .4;
}
.congrSantaClausBlock .item .info-phone {
    text-transform: uppercase;
    font-size: var(--fz20);
    margin-top: 30px;
}
.photoGallerySection .item .photoGallerySlider .swiper-wrapper .swiper-slide img {
    width: 100%;
    height: 360px;
    object-fit: cover;
}
.photoGallerySection .swiper-wrapper {
    height: 480px;
}
.photoGallerySection .swiper-wrapper .swiper-slide {
    height: auto;
}
.photoGallerySection .swiper-wrapper .swiper-slide .settings {
    display: flex;
    align-items: flex-start;
    height: 100%;
}
.photoGallerySection .swiper-wrapper .swiper-slide:nth-child(2n) .settings {
    align-items: flex-end;
}
.photoGallerySection .info-block .item:first-of-type {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}
.photoGallerySection .info-block .item .block .desc {
    font-size: var(--fz18);
    margin-top: 30px;
}
.photoGallerySection .info-block .item .block .info-phone {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: var(--fz20);
    text-transform: uppercase;
    padding: 20px;
    background-color: var(--white);
    color: var(--black);
}
.photoGallerySection .info-block .item .block .info-phone a,
.photoGallerySection .info-block .item .block .info-phone a:hover {
    color: var(--black)
}
.photoGallerySection {
    background-image: url(../img/details/grid-white-big.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
main.bg-img-green::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1080px;
    background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../img/other/green-fluid-art-abstract-background.jpeg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
section {
    position: relative;
}
.nonPT {
    padding-top: 0!important;
}
.breadCrumbsBlock ul {
    display: flex;
    column-gap: 36px;
    row-gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.breadCrumbsBlock ul li {
    position: relative;
}
.breadCrumbsBlock ul li a {
    opacity: .6;
    transition: all .3s;
}
.breadCrumbsBlock ul li a[href]:hover {
    opacity: 1;
}
.breadCrumbsBlock ul li:not(:last-of-type)::before {
    content: '';
    position: absolute;
    width: 6px;
    height: 12px;
    top: 50%;
    right: -20px;
    background-image: url('../img/details/arrow.svg');
    background-position: center;
    background-size: contain;
    transform: translateY(-50%);
    opacity: .6;
}
.questCatalogBlock .title-filter {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    justify-content: space-between;
}
.questCatalogBlock .title-filter .filter {
    display: flex;
    column-gap: 20px;
    row-gap: 10px;
}
.questCatalogBlock .title-filter .filter label {
    height: 100%;
    padding: 14px 19px;
    background: rgba(27, 211, 178, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
}
.questCatalogBlock .title-filter .filter label > span {
    opacity: .6;
}
.questCatalogBlock .title-filter .filter label > select {
    width: 150px;
    background: transparent;
    border: 0;
    outline: none;
    color: var(--white)
}
.pt10 {
    padding-top: 10px!important;
}
.questCatalogBlock .info-block {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, auto));
    column-gap: 20px;
    row-gap: 40px;
    margin-top: 40px;
}
.questCatalogBlock .info-block .item {
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.questCatalogBlock .info-block .item .more {
    position: absolute;
    display: flex;
    gap: 10px;
    top: 20px;
    left: 20px;
    width: calc(100% - 40px);
}
.questCatalogBlock .info-block .item .more span.new {
    padding: 5px 10px;
    border-radius: 1000px;
    background-color: var(--white);
    color: var(--black);
    text-transform: uppercase;
}
.questCatalogBlock .info-block .item .more span:not(.new) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31px;
    height: 31px;
    border-radius: 1000px;
    background-color: var(--teal);
    color: var(--black);
}
.questCatalogBlock .info-block .item .img {
    width: 100%;
    height: 260px;
}
.questCatalogBlock .info-block .item .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.questCatalogBlock .info-block .item .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background: rgba(27, 211, 178, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
}
.questCatalogBlock .info-block .item .info .title {
    font-size: var(--fz20);
    text-transform: uppercase;
}
.questCatalogBlock .info-block .item .info .category {
    opacity: .6;
}
.questCatalogBlock .info-block .item .price {
    font-size: var(--fz24);
}
.infoQuestSection,
.detailedInformationSection {
    background-image: url(../img/details/grid-teal-op.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.infoQuestSection .info-block .item {
    position: relative;
}
.infoQuestSection .info-block .item:not(:last-of-type)::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
}
.infoQuestSection .info-block .item:not(:first-of-type) {
    padding: 60px 0;
}
.infoQuestSection .info-block .item:first-of-type {
    padding-bottom: 60px;
}
.infoQuestSection .info-block .item:last-of-type {
    padding-bottom: 0;
}
.infoQuestSection .item .block .text.c-teal-strong strong {
    color: var(--teal)
}
.infoQuestSection .item .block .text ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 10px;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: var(--fz16);
}
.infoQuestSection .item .block .text ul li {
    padding: 10px 20px;
    border-radius: 1000px;
    background-color: var(--white);
    color: var(--black);
}
.infoQuestSection .item .block .text .contact {
    display: flex;
    flex-wrap: wrap;
    column-gap: 60px;
    row-gap: 10px;
}
.infoQuestSection .item .block .text .contact .item_c {
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.1);
}
.infoQuestSection .item .block .text .contact .title {
    font-size: var(--fz24);
}
.infoQuestSection .item .block .text .contact .phone {
    font-size: var(--fz18);
    font-weight: 500;
    margin-top: 5px;
}
.moreQuestInfoSection .title-time {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 27px;
    row-gap: 20px;
}
.moreQuestInfoSection .title-time .time-main span {
    position: relative;
    border-radius: 1000px;
    background-color: var(--teal);
    font-size: var(--fz18);
    padding: 10px 20px 10px 54px;
    color: var(--black);
}
.moreQuestInfoSection .title-time .time-main span::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 20px;
    background-image: url('../img/details/clock.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateY(-50%);
}
.moreQuestInfoSection .info-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 20px;
}
.moreQuestInfoSection .info-block .item.video-photo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.moreQuestInfoSection .info-block .item.video-photo .block.vk-video {
    grid-column: span 3;
    border: 1px solid var(--teal);
    height: 500px;
}
.moreQuestInfoSection .info-block .item.video-photo .block.vk-video iframe {
    width: 100%;
    height: 100%;
}
.moreQuestInfoSection .info-block .item.video-photo .block.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    column-gap: 30px;
    row-gap: 20px;
}
.moreQuestInfoSection .info-block .item.video-photo .block.gallery .img {
    width: 100%;
    height: 140px;
    border: 1px solid var(--teal);
}
.moreQuestInfoSection .info-block .item.video-photo .block.gallery .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.minimized {
	cursor: pointer;
}
#magnify {
	display: none;
    align-items: center;
    justify-content: center;
	position: fixed;
	max-width: 70%;
	max-height: 80vh;
    width: 100%;
	z-index: 100001;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#magnify img {
	width: 100%;
  max-height: 80vh;
	border-radius: 10px;
  object-fit: cover;
}
#overlay {
	display: none;
	background: #000;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0.5;
	z-index: 100000;
}
#close-popup {
	padding: 5px;
	border-radius: 50%;
	cursor: pointer;
	position: absolute;
	top: -15px;
	right: -15px;
}
#close-popup i {
	width: 20px;
	height: 20px;
	background: url('../img/details/close.svg') no-repeat center center;
	background-size: 20px 20px;
	display: block;
}
.moreQuestInfoSection .info-block .item.information > .desc {
    display: flex;
    flex-direction: column;
}
.moreQuestInfoSection .info-block .item.information > .desc .text-1 {
    font-size: var(--fz24);
}
.moreQuestInfoSection .info-block .item.information > .desc .text-2 {
    font-size: var(--fz18);
    color: var(--teal);
    margin-top: 10px;
}
.moreQuestInfoSection .info-block .item.information > .desc .bg-white {
    color: var(--black);
    font-size: var(--fz20);
    text-transform: uppercase;
    display: inline-block;
    background-color: var(--white);
    padding: 10px 20px;
    border-radius: 1000px;
    width: fit-content;
    margin-top: 40px;
}
.moreQuestInfoSection .info-block .item.information > .desc .text-3 {
    font-weight: 500;
    font-size: var(--fz18);
    margin-top: 20px;
}
.moreQuestInfoSection .info-block .item.information > .desc .text-4 {
    font-size: var(--fz20);
    margin-top: 20px;
    text-transform: uppercase;
}
.moreQuestInfoSection .info-block .item.information .price {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}
.moreQuestInfoSection .info-block .item.information .price .price-block {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, auto));
    column-gap: 20px;
    row-gap: 10px;
}
.moreQuestInfoSection .info-block .item.information .price .desc {
    font-size: var(--fz18);
}
.moreQuestInfoSection .info-block .item.information .price .price-block .item_p {
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
}
.moreQuestInfoSection .info-block .item.information .price .price-block .item_p .count {
    font-size: var(--fz24);
    margin-bottom: 10px;
}
.moreQuestInfoSection .info-block .item.information .price .price-block .item_p span {
    opacity: .6;
    font-weight: 500;
}
.moreQuestInfoSection .info-block .item.information .price .desc.bg-blur {
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    width: fit-content;
}
.moreQuestInfoSection .info-block .item.information .desc.landmark {
    font-size: 18px;
    margin-top: 20px;
}
.moreQuestInfoSection .info-block .item.information .more-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
.moreQuestInfoSection .info-block .item.information .more-info span {
    font-size: var(--fz20);
    text-transform: uppercase;
}
.moreQuestInfoSection .info-block .item.information .more-info a.phone {
    font-size: var(--fz20);
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.1);
    width: fit-content;
}
.moreQuestInfoSection {
    padding-bottom: 100px!important;
}
.detailedInformationSection {
    padding-top: 60px;
}
.detailedInformationSection .info-block {
    column-gap: 90px;
    row-gap: 45px;
}
.detailedInformationSection .info-block .item:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
.detailedInformationSection .info-block .item:first-of-type .phone a {
    width: fit-content;
    font-size: var(--fz20);
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.1);
}